.carousel__indicator--active {
  &::before {
    background-color: $skanzen-red !important;
  }
}

.carousel__indicator {
   opacity: 1 !important;
}

.carousel__indicators {
  top: 10px;
  left: 40px !important;
}

.border-stories {

  .home-content {
    .row {
      margin-top: 40px;
    }
  }

  .image-content {
    display: flex;

    .image-text {
      position: absolute;
      bottom: 0;
      left: 33px;
      width: 696px;
      border-left: 40px solid $skanzen-red;

      h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 58px;
        font-family: RubikRegular;
        color: #FFF;
        display: inline;
        background-color: $skanzen-red;
        padding: 15px;
        padding-left: 0;

        span {
          position: relative;
          left: -19px;

          a {
            color: inherit;
            text-decoration: none;
          }

        }

      }

    }

    .text-content {
      background-color: transparentize($skanzen-red, 0.8);
      width: 100%;
      padding-left: 33px;
      padding-top: 25px;
      padding-right: 60px;

      h2 {
        color: $skanzen-red;
        font-family: MyriadProRegular;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 14px;
      }

      hr {
        width: 21px;
        height: 4px;
        background-color: $skanzen-red;
        border: none;
        position: relative;
        left: -33px;
        margin-bottom: 18px;
      }

      p {
        color: $skanzen-dark-grey;
        width: 336px;
        height: 198px;
        font-family: MyriadProRegular;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }

    }

  }

  .border-stories-content {
    width: $page_width;
    margin: auto;
    margin-bottom: 210px;
    display: flex;

    .article {
      width: 970px;

      .article-cover {
        position: relative;
        .tags {
          position: absolute;
          bottom: 13px;
          right: 26px;
          .v-chip {
            margin-right: 6px;
            font-family: MyriadProBold;
            font-weight: 700;
            font-size: 16px;
          }
        }
      }

      .cities {
        height: 80px;
        background-color: $skanzen-red;
        width: 970px;
        position: relative;
        padding-left: 29px;
        display: flex;

        .city {
          position: relative;
          height: 30px;
          width: 145px;
        }

        .city-name {
          position: relative;
          top: 20px;
          color: #FFF;
          font-size: 20px;
          font-family: RubikRegular;
          left: 6px;
        }

        .ring {
          background-image: url("~@/assets/images/O.png");
          width: 26px;
          height: 27px;
          position: absolute;
          top: 51px;
          z-index: 2;
        }

        .line {
          width: 143px;
          height: 3px;
          background-image: url("~@/assets/images/line.png");
          position: absolute;
          top: 60px;
          left: 12px;
        }

      }

      .content {
        background-color: $article-background;
        padding-left: 32px;
        padding-top: 38px;

        h2 {
          color: $skanzen-red;
          font-family: RubikRegular;
          font-size: 24px;
          font-weight: 400;
          width: 786px;
          margin-bottom: 35px;
        }

        .lead {
          font-family: MyriadProRegular;
          font-weight: bold;
          font-size: 16px;
          width: 887px;
          margin-bottom: 35px;
        }

        .details {

          padding-bottom: 69px;

          p {
            font-family: MyriadProRegular;
            font-size: 16px;
            padding-right: 50px;
          }

          a {
            font-weight: bold;
            color: $skanzen-red;
            text-decoration: none;
          }

          .quote {
            float: right;
            width: 426px;
            height: 172px;
            background-color: $quote-bg;
            position: relative;
            right: -10px;
            margin-left: 18px;

            h2 {
              font-family: MyriadProIt;
              font-size: 24px;
              font-weight: 400;
              line-height: 28px;
              color: $skanzen-red;
              padding-top: 36px;
              padding-left: 39px;
              width: 380px;
            }

          }
        }

      }

    }

    .other-stories-list {
      width: 427px;
      padding-left: 51px;
      padding-top: 31px;

      h2 {
        font-family: RubikBold;
        font-size: 20px;
        line-height: 45px;
        font-weight: 700;
        color: $skanzen-red;
      }

      ul {
        list-style-type: square;
        color: $skanzen-red;

        li {
          a {
            color: inherit;
            text-decoration: none;
            line-height: 45px;
            font-family: RubikRegular;
            font-size: 20px;
          }
        }

      }

    }

  }

}
