.v-footer {

  padding: 0 !important;

  .footer {
    height: 92px;
    width: 100%;
    background-color: $skanzen-grey !important;

    .content {

      width: $page_width;
      margin: auto;
      color: $skanzen-dark-grey;
      font-family: MyriadProRegular;
      font-size: 18px;
      line-height: 28px;

      .footer-link {
        color: $skanzen-dark-grey;
        text-decoration: none;
        margin-top: 38px;
        display: inline-block;

        &:last-of-type {
          margin-right: 127px;
        }

      }

      .label {
        margin-top: 38px;
      }

      .footer-logo {
        width: 136px;
        margin-top: 18px;
        float: left;
        margin-right: 32px;
      }

      .pd-logo {
        width: 68px;
        opacity: 0.3;
        float: right;
        margin-top: 25px;
        background-blend-mode: darken;
      }

    }

  }

  .red-line {
    height: 10px;
    width: $page_width;
    background-color: $skanzen-red;
    margin: auto;
  }

}
