@font-face {
  font-family: RubikRegular;
  src: url(~@/assets/style/fonts/Rubik-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: RubikLight;
  src: url(~@/assets/style/fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: RubikBold;
  src: url(~@/assets/style/fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: RubikMedium;
  src: url(~@/assets/style/fonts/Rubik-Medium.ttf);
}

@font-face {
  font-family: MyriadProRegular;
  src: url(~@/assets/style/fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: MyriadProBold;
  src: url(~@/assets/style/fonts/MyriadPro-Bold.otf);
}

@font-face {
  font-family: MyriadProIt;
  src: url(~@/assets/style/fonts/MyriadPro-It.otf);
}

$page_width: 1397px;

$skanzen-dark-grey: #333740;
$skanzen-red: #ef463a;
$skanzen-grey: #e1e1e3;
$skanzen-breadcrumb: #555960;
$article-background: #f6f7f7;
$quote-bg: #fce2e0;
$train_bg_color: #e0e1e1;
$trianon-text-color: #4e525a;
