.header {

  font-family: RubikRegular;
  font-size: 15px;
  padding: 0;
  width: $page_width;
  margin: auto;
  margin-top: 20px;

  .logo{
    #logo {
      width: 408px;
    }

    padding-left: 0;

  }

  .grey-bar {
    background-color: $skanzen-grey;
    margin-top: 40px;
  }

  .menu {
    .menu-item {
      color: $skanzen-dark-grey;
      text-decoration: none;
      margin-right: 10px;
      position: relative;
      &.disabled {
        color: $skanzen-grey;
        &:hover {
          &::before {
            content: "Hamarosan";
            text-transform: uppercase;
            font-size: 8px;
            position: absolute;
            bottom: 15px;
            color: $skanzen-red;
          }
        }
      }
    }

    .is-active {
      color: $skanzen-red;
    }

    text-align: end;
    padding-right: 0;

  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

}
