.home-content {
  width: $page_width;
  margin: auto;
  margin-bottom: 207px;

  .card {
    float: left;
    width: 428px;
    position: relative;

    &:nth-of-type(2) {
      margin-left: 58px;
    }

    &:nth-of-type(3) {
      margin-left: 55px;
    }

    .content {
      border-left: 2px solid $skanzen-red;
      margin-top: -7px;
      padding-top: 17px;
      height: 210px;
      margin-bottom: 10px;

      a{
        text-decoration: none;
      }

      h2 {
        margin-left: 27px;
        font-family: RubikRegular;
        font-weight: 400;
        font-size: 26px;
        line-height: 36px;
        color: $skanzen-red;
      }

      p {
        color: $skanzen-dark-grey;
        font-family: MyriadProRegular;
        font-size: 15px;
        line-height: 24px;
        margin-left: 27px;
        margin-top: 16px;
      }

    }

  }

  .grey-card {
    opacity: 0.5;
    cursor: pointer;

    .disabledHover {
      background-color: $skanzen-red;
      height: 59px;
      display: flex;
      align-items: center;
      position: relative;
      bottom: 66px;
      margin-bottom: -66px;

      h2 {
        font-family: RubikMedium;
        font-weight: normal;
        font-size: 15px;
        color: #FFF;
        text-transform: uppercase;
        margin-left: 10px;
      }

      svg {
        width: 40px;
        margin-left: 35px;
      }

      .cls-1 {
        fill:none;
        stroke:#FFF;
        stroke-miterlimit:10;
        stroke-width:2px;
      }

    }

    .content, img {
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }

  }

}
