.my-story-content {
  width: $page_width;
  margin: auto;
  display: flex;
  margin-bottom: 207px;

    .video {
      width: 981px;
    }

    .article {
      background-color: transparentize($skanzen-red, 0.8);
      width: 426px;
      padding-left: 41px;
      padding-right: 49px;
      padding-top: 33px;

      h2 {
        color: $skanzen-red;
        font-family: MyriadProRegular;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 19px;
      }

      hr {
        width: 21px;
        height: 4px;
        background-color: $skanzen-red;
        border: none;
        position: relative;
        left: -41px;
        margin-bottom: 16px;
      }

      p {
        color: $skanzen-dark-grey;
        width: 336px;
        height: 198px;
        font-family: MyriadProRegular;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }

    }
}
