.slider-container {
  background-color: $skanzen-red;
  padding: 0;
  width: 100%;

  .slider{
    width: $page_width;
    margin: auto;
  }

  .slider-inside-container {

      display: flex;

    .slider-image {
      .v-image__image {
        background-color: $skanzen-red;
        background-blend-mode: multiply;
      }
      margin-left: -148px;
      overflow: visible;
    }

    .overlay-image {
      position: relative;
      left: 92px;
      z-index: 2;
      width: 148px;
      height: 234px;
      top: 97px;
    }

    .slider-textbox {
      background-color: $skanzen-dark-grey;
      width: 427px;
      height: 100%;
      flex: none;

      h2{
        font-family: RubikLight;
        font-weight: 300;
        font-size: 40px;
        color: #FFF;
        width: 324px;
        margin-left: 32px;
        margin-top: 78px;
      }

      hr {
        width: 21px;
        height: 4px;
        background-color: #FFF;
      }

      p {
        margin-left: 32px;
        color: #FFF;
        font-family: MyriadProRegular;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        width: 338px;
        margin-top: 11px;
      }

    }
  }

  .grey-bar {
    background-color: $skanzen-grey;
    width: $page_width;
    height: 42px;
  }

}
