.subpage-slider-container {
  background-color: $skanzen-red;
  padding: 0;
  width: 100%;

  .slider{
    width: $page_width;
    margin: auto;
    position: relative;
  }

  .slider-inside-container {

    display: flex;

    .slider-image {
      .v-image__image {
        background-color: $skanzen-red;
        background-blend-mode: multiply;
      }
      overflow: visible;
    }

    .overlay-image {
      z-index: 2;
      position: absolute;
    }

    .slider-textbox {
      background-color: $skanzen-dark-grey;
      width: 460px;
      height: 80px;
      flex: none;
      position: absolute;
      z-index: 3;
      top: 258px;

      h2{
        font-family: RubikLight;
        font-weight: 300;
        font-size: 40px;
        color: #FFF;
        width: 430px;
        margin-left: 32px;
        margin-top: 10px;
      }

      hr {
        width: 21px;
        height: 4px;
        background-color: #FFF;
      }

      p {
        margin-left: 32px;
        color: #FFF;
        font-family: MyriadProRegular;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        width: 338px;
        margin-top: 11px;
      }

    }
  }

  .grey-bar {
    background-color: $skanzen-grey;
    width: $page_width;
    height: 42px;

    .v-breadcrumbs {
      font-family: RubikRegular;
      font-size: 15px;
      color: $skanzen-breadcrumb;
      padding-top: 12px;

      a {
        color: $skanzen-breadcrumb;
      }
    }

  }

}
