.trianon-orphans-content{
  width: $page_width;
  margin: auto;

  .slider-navigation {
    height: 46px;
    background-color: $skanzen-red;
    color: #FFF;
    padding-left: 10px;
    padding-right: 15px;
    font-family: RubikRegular;
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;

    &:last-of-type {
      margin-left: 10px;
      padding-left: 15px;
      padding-right: 10px;
    }

  }

  .hooper {
    height: auto;
    margin-top: 20px;

    svg {
      filL: $train_bg_color;
    }

    .is-current {
      svg {
        fill: $skanzen-red;
      }
    }

  }

  .card {
    width: 510px;
    margin: auto;
    position: relative;
    left: 22px;
    margin-bottom: 210px;

    hr {
      height: 5px;
      background-color: $skanzen-red;
      border: none;
      width: 100%;
    }

    .content {
      display: flex;
      padding-left: 32px;

      img {
        margin-right: 30px;
      }

      h2 {
        font-family: MyriadProRegular;
        font-size: 24px;
        color: $skanzen-red;
        margin-top: 16px;
        cursor: pointer;
      }

      p {
        font-family: MyriadProRegular;
        font-size: 18px;
        color: $trianon-text-color;
        margin-top: 16px;
      }

    }

  }

}

.trianon-orphans-article-content {

  width: $page_width;
  margin: auto;
  margin-bottom: 210px;
  display: flex;

  .article {
    width: 970px;

    .slider-navigation {
      height: 46px;
      background-color: $skanzen-red;
      color: #FFF;
      padding-left: 10px;
      padding-right: 15px;
      font-family: RubikRegular;
      font-size: 24px;
      line-height: 37px;
      font-weight: normal;

      &:last-of-type {
        margin-left: 10px;
        padding-left: 15px;
        padding-right: 10px;
      }

    }

    .hooper {
      height: auto;
      margin-top: 20px;

      svg {
        filL: $train_bg_color;
      }

      .is-current {
        svg {
          fill: $skanzen-red;
        }
      }

    }

    .name {
      background-color: $skanzen-breadcrumb;
      display: inline-block;
      padding-left: 33px;
      padding-right: 33px;
      font-family: RubikRegular;
      font-size: 24px;
      line-height: 37px;
      color: #FFF;
      font-weight: normal;
    }

    .content {
      background-color: $article-background;
      padding: 38px 33px 67px;

      /*img {
        float: right;
        position: relative;
        right: -43px;
        margin-left: -13px;
        margin-bottom: 20px;
      }*/

      .silentbox-item {
        padding-left: 10px;
        img {
          border-radius: 10px;
          box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }
      }

      h2 {
        color: $skanzen-red;
        font-family: RubikRegular;
        font-size: 24px;
        line-height: 37px;
        font-weight: normal;
        margin-bottom: 33px;
      }

      p {
        font-family: MyriadProRegular;
        font-size: 16px;
        line-height: 28px;
        color: $skanzen-dark-grey;
      }

      .quote {
        background-color: $quote-bg;
        margin: 0 18px;

        h2 {
          font-family: MyriadProIt;
          font-size: 24px;
          font-weight: 400;
          line-height: 28px;
          color: $skanzen-red;
          padding: 36px 39px;
          margin-top: 33px;
        }

      }

      .lead {
        font-weight: bold;
      }

    }

  }

  .other-stories-list {
    width: 427px;
    padding-left: 51px;
    padding-top: 31px;

    h2 {
      font-family: RubikBold;
      font-size: 20px;
      line-height: 45px;
      font-weight: 700;
      color: $skanzen-red;
    }

    ul {
      list-style-type: square;
      color: $skanzen-red;

      li {
        a {
          color: inherit;
          text-decoration: none;
          line-height: 45px;
          font-family: RubikRegular;
          font-size: 20px;
        }

      }
    }
  }
}
