<template>
  <div class="big-war">
    <Header />
    <SubpageSlider :image="require('@/assets/slider/big_war_slider.png')"
                   :overlay_image="require('@/assets/slider/big_war_overlay.png')"
                   overlay_style="left: 927px; top: 85px; width: 65px;"
                   title_style="top: 221px;"
                   :article_title="(content ? content.title : undefined)" :key="force">
      <h2>{{ $route.name }}</h2>
    </SubpageSlider>
    <div class="home-content">
      <div class="row no-gutters">
        <HomeCard :image="require('@/assets/images/a_nagy_haboru.png')" style="top: -18px;">
          <a href="https://nagyhaboru.skanzen.hu/"><h2>A nagy háború emlékei –
            adatbázis</h2></a>
          <p>A Szabadtéri Néprajzi Múzeum első világháborús tematikus adatbázisa,
            amely a hazai és határon túli közgyűjteményekben és
            magánszemélyeknél elérhető kulturális javakat gyűjti össze. </p>
        </HomeCard>
        <HomeCard :image="require('@/assets/images/hosi_emlekmuvek.png')"
                  style="top: -31px;">
          <a href="http://emlekmuvek.skanzen.hu/">
            <h2>Hősi emlékművek -
            Interaktív térkép</h2></a>
          <p>Térképünk a több ezer első világháborús hősi emlék helyét és
            fotóját mutatja meg a Kárpát-medence magyarlakta területein.</p>
        </HomeCard>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import SubpageSlider from '@/components/SubpageSlider.vue';
import Footer from '@/components/Footer.vue';
import HomeCard from '@/components/HomeCard.vue';

export default {
  name: 'BigWar',
  components: {
    Header,
    SubpageSlider,
    Footer,
    HomeCard,
  },
};
</script>

<style scoped>

</style>
