<template>
  <div class="border-stories">
    <Header />
    <SubpageSlider :image="require('@/assets/slider/border_stories_slider.png')"
                   :overlay_image="require('@/assets/slider/border_stories_overlay.png')"
                   overlay_style="left: 85px; top: 101px;"
                   image_style="left: -252px; position: relative;"
                   :is_multiple="true"
                   title_style="top: 279px;"
                   :article_title="(content ? content.title : undefined)" :key="force">
      <h2>{{ $route.name }}</h2>
    </SubpageSlider>
    <div v-if="!$route.params.slug" class="home-content">
      <carousel :data="data" indicator-type="disc" :controls="false" :autoplay="false" />
      <div class="row no-gutters"  v-for="(chunk, id) in articleChunks" :key="id">
        <HomeCard :image="data.coverImage" v-for="(data, index) in chunk" :key="index">
          <router-link :to="{params: {slug: data.slug}}"><h2>
            {{data.title}}
          </h2>
          </router-link>
          <p>
            {{data.lead}}
          </p>
        </HomeCard>
      </div>
    </div>
    <div v-else class="border-stories-content">
      <div class="article">
        <div class="article-cover">
          <v-img :src="content.image" />
          <div class="tags">
            <v-chip color="white" label v-for="tag in content.tags" :key="tag">
              {{tag}}
            </v-chip>
          </div>
        </div>
        <div class="cities" v-if="content.maps && content.maps.length > 0">
          <div class="city" v-for="(city, index) in content.maps" :key="index">
            <div class="city-name">{{ city }}</div>
            <div class="ring"></div>
            <div class="line" v-if="index !== content.maps.length - 1"></div>
          </div>
        </div>
        <div class="content">
          <h2>{{content.title}}</h2>
          <p class="lead">{{content.lead}}</p>
          <div class="details">
            <div v-for="(c, index) in content.content" :key="index">
              <p v-html="c"></p>
              <div class="quote" v-if="index === 0 && content.quote !== ''">
                <h2>{{content.quote}}</h2>
              </div>
            </div>
          </div>
          <v-row>
            <v-col>
              <silent-box :gallery="content.images"></silent-box>
            </v-col>
          </v-row>
        </div>
      </div>
      <div class="other-stories-list">
        <h2>További történetek:</h2>
        <ul>
          <li v-for="(article) in articles" :key="article.slug">
            <router-link :to="{params: {slug: article.slug}}">{{ article.title }}</router-link>
          </li>
        </ul>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import SubpageSlider from '@/components/SubpageSlider.vue';
import HomeCard from '@/components/HomeCard.vue';
import Footer from '@/components/Footer.vue';

import articles from '@/data/border_stories_article_data';
import _ from 'lodash';

export default {
  name: 'BorderStories',
  components: {
    Header,
    SubpageSlider,
    HomeCard,
    Footer,
  },
  data() {
    return {
      data: [
        {
          id: 1,
          content(createElement) {
            return createElement('div', {
              class: 'image-content',
            }, [
              createElement('div', {
                class: 'image-text',
              }, [
                createElement('h2', [
                  createElement('span', [
                    createElement('router-link', {
                      attrs: {
                        to: `${this.$route.path}/felhivas`,
                      },
                    }, ['Önnek is van olyan HATÁRtörténete, amelyet szívesen felajánlana a virtuális közösségi kiállítás számára?']),
                  ]),
                ]),
              ]),
              createElement('img', {
                attrs: {
                  src: require('@/assets/images/border_stories_slider_1.png'),
                },
              }),
              createElement('div', {
                class: 'text-content',
              }, [
                createElement('h2',
                  ['Vannak olyan tárgyai, fotói, emlékei, amelyek az 1920 és 2020 közötti időszakból származnak?']),
                createElement('hr'),
                createElement('p',
                  ['Ha igen, ossza meg velünk! A történeteket, emlékeket elsősorban digitalizálva várjuk, melyhez segítség is kérhető kollégáinktól: ', createElement('a', {
                    attrs: {
                      href: 'mailto:hatartortenetek@skanzen.hu',
                    },
                  }, ['hatartortenetek@skanzen.hu']), ' e-mail címen.',
                  createElement('span', {
                    attrs: {
                      style: 'color: #EF463A',
                    },
                  }, [createElement('router-link', {
                    attrs: {
                      to: `${this.$route.path}/felhivas`,
                      style: 'color: #EF463A; text-decoration: none;',
                    },
                  }, [' tovább'])])]),
              ]),
            ]);
          },
        },
      ],
      content: articles.find((route) => route.slug === this.$route.params.slug),
      force: 0,
      articles: articles.filter((a) => !a.notShown),
    };
  },
  computed: {
    articleChunks() {
      return _.chunk(Object.values(this.articles), 3);
    },
  },
  watch: {
    $route() {
      this.content = articles.find((route) => route.slug === this.$route.params.slug);
      this.force += 1;
    },
  },
};
</script>

<style lang="scss">
  .border-stories-content {
    .silentbox-item {
      max-height: 400px;
      overflow: hidden;
    }
  }
</style>
