<template>
  <div class="my-story">
    <Header />
    <SubpageSlider :image="require('@/assets/slider/my_story_bg.png')"
                   :overlay_image="require('@/assets/slider/my_story_overlay.png')"
                   overlay_style="left: 93px; top: -9px;"
                   :is_multiple="true"
                   title_style="top: 279px;"
                   :article_title="(content ? content.title : undefined)" :key="force">
      <h2 v-if="!$route.params.slug" style="margin-left: initial; text-align: center;">
        {{ $route.name }}
      </h2>
      <h2 v-else style="margin-left: initial; text-align: center;">{{content.title}}</h2>
    </SubpageSlider>
    <div v-if="!$route.params.slug" class="home-content">
      <div class="row no-gutters" style="margin-top: 20px;">
        <HomeCard
                :disabled="false"
                disabled_class="grey-card"
                :image="require('@/assets/images/a-csempesz.png')">
          <router-link to="/az-en-tortenetem/a-csempesz"><h2>A csempész</h2></router-link>
          <p>Tóth Rozál a hármas határ mellett lő fiatalasszony
            életét megváltoztatta a falu mellett kijelölt új országhatár.
            Az élelmes asszony a zöldhatáron csempészett át árukat.</p>
        </HomeCard>
        <HomeCard
                :disabled="false"
                disabled_class="grey-card"
                :image="require('@/assets/images/szemafor.png')" style="top: 12px;">
          <router-link to="/az-en-tortenetem/a-szemafor-felvigyazo">
            <h2>A szemafor-felvigyázó</h2>
          </router-link>
          <p>Ébersz Gyula Munkácson volt vasutas, az első világháború után Magyarországra menekült.
            Családjával együtt hónapokig lakott egy vasúti kocsiban.</p>
        </HomeCard>
        <HomeCard
                :disabled="false"
                disabled_class="grey-card"
                :image="require('@/assets/images/felvideki-tanito.png')" style="top: 1px;">
          <router-link to="/az-en-tortenetem/a-felvideki-tanito">
            <h2>A felvidéki tanító</h2>
          </router-link>
          <p>Bodon Lajos, a Csehszlovákiához csatolt Nemesradnót tanítójának felemelő töténete.</p>
        </HomeCard>
      </div>
    </div>
    <div v-else class="my-story-content">
      <div class="video">
        <vue-plyr>
          <video :src="content.video" :poster="content.poster" />
          <!--<div data-plyr-provider="youtube" :data-plyr-embed-id="content.video"></div>-->
        </vue-plyr>
      </div>
      <div class="article">
        <h2>{{content.title}}</h2>
        <hr />
        <p>{{content.content}}</p>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import SubpageSlider from '@/components/SubpageSlider.vue';
import Footer from '@/components/Footer.vue';
import HomeCard from '@/components/HomeCard.vue';

const data = [
  {
    title: 'A csempész',
    content: 'Tóth Rozál a hármas határ mellett élő fiatalasszony életét megváltoztatta a falu '
        + 'mellett kijelölt új országhatár. Az élelmes asszony a zöldhatáron csempészett át árukat. '
        + 'A 3 pengős malacot odaát 10 pengőért veszik. Volt hogy pólyásbabának öltöztetve csempészte '
        + 'ki a malacot. Alsóruhájba rejtett el a vajat; visszafelé pedig gyakran hozott cipőt, cukrot.',
    video: require('@/assets/videos/a_csempesz_10Mbps.mp4'),
    poster: require('@/assets/images/fortepan_32074.jpg'),
    slug: 'a-csempesz',
  },
  {
    title: 'A szemafor-felvigyázó',
    content: 'Ébersz Gyula Munkácson volt vasutas, az első világháború után Magyarországra menekült. '
        + 'Családjával együtt hónapokig lakott egy vasúti kocsiban.',
    video: require('@/assets/videos/a_vasutas_10Mbps.mp4'),
    poster: require('@/assets/images/szemafor.png'),
    slug: 'a-szemafor-felvigyazo',
  },
  {
    title: 'A felvidéki tanító',
    content: 'Bodon Lajos, a Csehszlovákiához csatolt Nemesradnót tanítójának felemelő töténete.',
    video: require('@/assets/videos/a_tanito_10Mbps.mp4'),
    poster: require('@/assets/images/felvideki-tanito.png'),
    slug: 'a-felvideki-tanito',
  },
];

export default {
  name: 'MyStory',
  components: {
    Header,
    SubpageSlider,
    Footer,
    HomeCard,
  },
  data() {
    return {
      content: data.find((route) => route.slug === this.$route.params.slug),
      force: 0,
    };
  },
  watch: {
    $route() {
      this.content = data.find((route) => route.slug === this.$route.params.slug);
      this.force += 1;
    },
  },
};
</script>

<style scoped>

</style>
