<template>
  <div class="border-stories">
    <Header/>
    <ShowYourMaskSlider :image="require('@/assets/slider/mutasd_a_maszkod.png')"
                   :overlay_image="require('@/assets/slider/mutasd_a_maszkod_overlay.png')"
                   overlay_style="left: 430px;"
                   title_style="top: 280px;"
                   :article_title="(content ? content.title : undefined)" :key="force">
      <h2>{{ $route.name }}</h2>
    </ShowYourMaskSlider>
    <div v-if="!$route.params.slug" class="home-content">
      <carousel :data="data" indicator-type="disc" :controls="false" :autoplay="false"/>
      <div class="row no-gutters" v-for="(chunk, id) in articleChunks" :key="id">
        <HomeCard :image="data.image" v-for="(data, index) in chunk" :key="index">
          <a v-if="data.link" :href="data.link" target="_blank">
            <h2>
              {{ data.title }}
            </h2>
          </a>
          <router-link :to="`${$route.path}/${data.slug}`" v-else>
            <h2>
              {{data.title}}
            </h2>
          </router-link>
          <p v-html="data.description">
          </p>
        </HomeCard>
      </div>
    </div>
    <div v-else class="border-stories-content" :key="content.slug">
      <div class="article">
        <div class="article-cover">
          <v-img :src="content.image"/>
        </div>
        <div class="content">
          <h2>{{content.title}}</h2>
          <p v-html="content.lead" class="lead"></p>
          <div class="details">
            <div v-for="(c, index) in content.content" :key="index">
              <p v-html="c"></p>
            </div>
            <img
                    v-for="(image, index) in content.images"
                    :key="`image${index}`"
                    :src="image"
                    height="200px"
                    style="margin-right: 10px" />
            <label
                    v-for="(label, index) in content.labels"
                    :key="`image_label${index}`"
                    v-html="label"
                    style="display: block"
            />
          </div>
        </div>
      </div>
      <div class="other-stories-list">
        <h2>További történetek:</h2>
        <ul>
          <li v-for="(articles, index) in articleListData" :key="`artice${index}`">
            <a v-if="articles.link" :href="articles.link" target="_blank">{{articles.title}}</a>
            <router-link v-else :to="articles.slug">{{articles.title}}</router-link>
          </li>
        </ul>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import ShowYourMaskSlider from '@/components/ShowYourMaskSlider.vue';
import HomeCard from '@/components/HomeCard.vue';
import Footer from '@/components/Footer.vue';
import _ from 'lodash';

import articleListData from '@/data/mask_articles_list_data';
import router from '@/router';

export default {
  name: 'BorderStories',
  components: {
    Header,
    ShowYourMaskSlider,
    HomeCard,
    Footer,
  },
  data() {
    return {
      data: [
        {
          id: 1,
          content(createElement) {
            return createElement('div', {
              class: 'image-content',
            }, [
              createElement('div', {
                class: 'image-text',
              }, [
                createElement('h2', [
                  createElement('span', [
                    createElement('a', {
                      attrs: {
                        href: 'https://blog.skanzen.hu/2020/03/20/spanyolnatha-es-koronavirus-vilagjarvany-100-eve-es-most/',
                      },
                    }, ['SPANYOLNÁTHA ÉS KORONAVÍRUS – VILÁGJÁRVÁNY 100 ÉVE ÉS MOST']),
                  ]),
                ]),
              ]),
              createElement('img', {
                attrs: {
                  src: require('@/assets/images/show-your-mask/_KIEMELT_001_BOX_KEP.jpg'),
                  width: '200%',
                },
              }),
              createElement('div', {
                class: 'text-content',
              }, [
                createElement('h2',
                  ['SPANYOLNÁTHA ÉS KORONAVÍRUS – VILÁGJÁRVÁNY 100 ÉVE ÉS MOST']),
                createElement('hr'),
                createElement('p',
                  ['Egy kis történelem: Kloska Tamás blog bejegyzése',
                    createElement('a', {
                      attrs: {
                        style: 'color: #EF463A',
                        href: 'https://blog.skanzen.hu/2020/03/20/spanyolnatha-es-koronavirus-vilagjarvany-100-eve-es-most/',
                      },
                    }, [' tovább'])]),
              ]),
            ]);
          },
        },
        {
          id: 2,
          content(createElement) {
            return createElement('div', {
              class: 'image-content',
            }, [
              createElement('div', {
                class: 'image-text',
              }, [
                createElement('h2', [
                  createElement('span', [
                    createElement('router-link', {
                      attrs: {
                        to: `${router.currentRoute.path}/ujsag-lapban-irtak`,
                      },
                    }, ['Az Újság című lapban így írtak 1918. október 20-án a maszkokról.']),
                  ]),
                ]),
              ]),
              createElement('img', {
                attrs: {
                  src: require('@/assets/images/show-your-mask/_KIEMELT_002_BOX_KEP.jpg'),
                  width: '200%',
                },
              }),
              createElement('div', {
                class: 'text-content',
              }, [
                createElement('h2',
                  ['Az Újság című lapban így írtak 1918. október 20-án a maszkokról.']),
                createElement('hr'),
                createElement('p',
                  ['',
                    createElement('router-link', {
                      attrs: {
                        style: 'color: #EF463A',
                        to: `${router.currentRoute.path}/ujsag-lapban-irtak`,
                      },
                    }, [' tovább'])]),
              ]),
            ]);
          },
        },
        {
          id: 3,
          content(createElement) {
            return createElement('div', {
              class: 'image-content',
            }, [
              createElement('div', {
                class: 'image-text',
              }, [
                createElement('h2', [
                  createElement('span', [
                    createElement('router-link', {
                      attrs: {
                        to: `${router.currentRoute.path}/orvos-hetilap-spanyolnatha-maszk`,
                      },
                    }, ['Az Orvosi Hetilap 1918. 44. számában 1918. november 3-án írnak a spanyolnátha kapcsán a maszkokról']),
                  ]),
                ]),
              ]),
              createElement('img', {
                attrs: {
                  src: require('@/assets/images/show-your-mask/_KIEMELT_003_BOX_KEP.jpg'),
                  width: '200%',
                },
              }),
              createElement('div', {
                class: 'text-content',
              }, [
                createElement('h2',
                  ['Az Orvosi Hetilap 1918. 44. számában 1918. november 3-án írnak a spanyolnátha kapcsán a maszkokról']),
                createElement('hr'),
                createElement('p',
                  ['… az egyéni és tömeg- prophylaxis legfőbb eszköze az izolálás.',
                    createElement('router-link', {
                      attrs: {
                        style: 'color: #EF463A',
                        to: `${router.currentRoute.path}/orvos-hetilap-spanyolnatha-maszk`,
                      },
                    }, [' tovább'])]),
              ]),
            ]);
          },
        },
      ],
      content: articleListData.find((route) => route.slug === this.$route.params.slug),
      force: 0,
      articleListData,
    };
  },
  computed: {
    articleChunks() {
      return _.chunk(Object.values(this.articleListData), 3);
    },
  },
  watch: {
    $route() {
      this.content = articleListData.find((route) => route.slug === this.$route.params.slug);
      this.force += 1;
    },
  },
};
</script>

<style lang="scss">

</style>
