<template>
  <v-container fluid class="subpage-slider-container">
    <v-row no-gutters class="slider">
      <v-col cols="12" class="slider-inside-container">
        <div class="slider-textbox" :style="title_style">
          <slot></slot>
        </div>
        <img :src="overlay_image" :style="overlay_style" class="overlay-image"/>
        <v-img v-if="!is_multiple" :src="image" class="slider-image"/>
        <img v-else :src="image" class="slider-image-is-multiple" :style="image_style" />
      </v-col>
    </v-row>
    <v-row justify="center" style="background-color: #FFF;">
      <div class="grey-bar">
        <v-breadcrumbs :items="breadcrumbs" divider=">>"/>
      </div>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'SubpageSlider',
  props: ['image', 'overlay_image', 'overlay_style', 'is_multiple', 'title_style', 'article_title', 'image_style'],
  data() {
    return {
      breadcrumbs: [],
    };
  },
  mounted() {
    const homepage = this.$router.options.routes.find((route) => route.path === '/');
    const virtual = this.$router.options.routes
      .find((route) => route.path === '/virtualis-kiallitasok');
    this.breadcrumbs.push({
      text: homepage.name,
      href: homepage.path,
    });
    this.breadcrumbs.push({
      text: virtual.name,
      href: `/#${virtual.path}`,
    });
    if (this.$route.params.slug) {
      const maszk = this.$router.options.routes
        .find((route) => route.path === '/virtualis-kiallitasok/mutasd-a-maszkod/:slug?');
      this.breadcrumbs.push({
        text: maszk.name,
        href: '/#/virtualis-kiallitasok/mutasd-a-maszkod',
      });
      this.breadcrumbs.push({
        text: this.$props.article_title,
        href: `/#${this.$route.path}`,
      });
    } else {
      this.breadcrumbs.push({
        text: this.$route.name,
        href: `/#${this.$route.path}`,
      });
    }
  },
  methods: {
    generatePath() {
      return this.$route.path.match('\\/([A-z]|[0-9]|-)*(?=\\/)')[0];
    },
  },
};
</script>

<style scoped>

</style>
