<template>
  <v-app>
    <v-content>
      <v-container fluid class="main-container">
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
